/* Add CSS Styling */

.odd {
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}

#second {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: rgb(110, 236, 110);
    font-size: 24px;
    font-weight: bold;